<nav class="sticky">
    <div class="section-title">
        ≡ Nav
    </div>
    <div id="nav-content">
        <a href="personal">
            <div class="section">
            ~Personal~
            </div>
        </a>
        <a href="/html/personal/aboutme.html">
            <div class="subsection"> About Me </div>
        </a>
        <a href="/html/personal/friends.html">
            <div class="subsection">Friends</div>
        </a>
        <a href="/html/personal/useful-sites.html">
            <div class="subsection">Useful Sites</div>
        </a>
        <a href="/html/blog"><div class="section">
            ~Blog~
        </div>
        </a>
        <a href="/html/blog/anime.html">
            <div class="subsection">Anime</div>
        </a>
        <a href="/html/blog/following.html">
            <div class="subsection">Following</div>
        </a>
        <a href="/html/blog/projects.html">
            <div class="subsection">Projects</div>
        </a>
        <a href="/html/blog"><div class="section">
            ~Tools~
        </div>
        </a>
        <a href="/html/blog/anime.html">
            <div class="subsection">Advanced Search</div>
        </a>
        <a href="/html/blog/following.html">
            <div class="subsection">Funscript Visualizer</div>
        </a>
        <a href="/html/blog/projects.html">
            <div class="subsection"></div>
        </a>
    </div>
</nav>