/* Note: I want each section to be in its own bubble and own bubble shadow */
@font-face {
    font-family: "Magica";
    src: url(/fonts/theheart.ttf);
    /* src: url(https://static.tumblr.com/p6yopnt/Qkiqnu0r5/theheart.ttf); */
}
:root {
    color: pink;
    font-family: "magica";
    /* font-size: 1.125em; */
    font-size: 1.2em;
    scrollbar-color: var(--dark_blue) var(--dark_purple);
    /* scrollbar-color: var(--dark_blue) var(--light_purple); */
}
:root {
    --dark_purple: #1e1d32; /* global scope */
    --light_purple: #2d2c41;
    --alt_purple: #631138;
    --dark_blue: #b5bbd9;
    --medium_blue: #cbccfe;
    --light_blue: #ddffff;
    --brown: #fef9f6;
    --light_maroon: #e83680;
    --dark_maroon: rgb(167, 25, 75);
    --pink: pink;
}
h1 {
    margin: 0 0 0 0;
    text-align: center;
}
a {
    text-decoration: none;
    color: pink;
}
p a {
    color: var(--light_maroon);
}
a:hover {
    font-weight: bold;
}
/* a:hover::before {
    content: "「";
    display: inline;
}
a:hover::after {
    content: "」";
    display: inline;
} */
body {
    max-width: 100em;
    margin: 0 auto;
    /* padding: 20px 40px; */
    padding: 6px;
    display: block;
    font-size: 1.125em;
    background-image: url(/images/PillsAndBandaidsAltGrey.png);
    background-color: rgb(179, 153, 189);
    background-attachment: fixed;
    background-position: center;
    text-align: center;
}
#island {
    border-radius: 25px;
    /* box-shadow: 0 10px 15px 5px rgba(114, 75, 97, 0.5); */
    /* background-color: pink; */
    /* border: solid;
    border-color: var(--dark_blue);
    border-width: 6px;
    border-radius: 25px;
    background-clip: border-box;
    overflow: hidden; */
    /* padding: 6px; */

}
header {
    background-image: url("/images/bg_top.gif");
    background-color: var(--dark_purple);
    background-size: 103%;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    border: solid;
    border-color: var(--dark_blue);
    border-width: 6px;
    border-radius: 25px;
    background-clip: border-box;
    overflow: hidden;
    box-shadow: 0 10px 15px 5px rgba(114, 75, 97, 0.5);

}
#header-image {
    height: 200%;
    /* width: 100%; */
    translate: 0 -25%;
    object-fit: fill;
}
#grid {
    /* height: 2000px; */
    /* padding: 10px 0 10px 0; */
    /* background-color: var(--dark_purple); */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 6px;
    padding: 6px 0 6px 0;
}
nav {
    /* Want to make a dropdown menu where everything is
    collapsed but the personal tab is pre-opened. On click
    more options will appear */
    order: 1;
    /* flex-grow: 1; */
    flex-basis: 15%;
    background-color: var(--dark_purple);
    /* height: 40px; */
    /* text-align: left; */

    /* for separating title and content*/
    display: flex;
    flex-direction: column;

    border: solid;
    border-color: var(--dark_blue);
    border-width: 6px;
    border-radius: 25px;
    background-clip: border-box;
    box-shadow: 0 10px 15px 5px rgba(114, 75, 97, 0.5);
    overflow: hidden;
}
#nav-content {
    /*use flex to separate scrollbar*/
    overflow-y: auto;
    flex: 1; /* Take remaining space */
    background-color: var(--dark_purple);
    min-height: 0; /* Allow shrinking */
    /* scrollbar-gutter: stable both-edges; */
    
    /* Compensate for scrollbar width to maintain center alignment */
    /* Simple approach: equal margins */
    
}
.sticky {
    position: sticky;
    flex-grow: 0;
    max-height: calc(100vh - (24px * 2));
    top: 10px;
    /* height: 220px; */
}
.section-title {
    background-color: var(--alt_purple);
    line-height: 1.5em;
    border-bottom: 3px solid var(--dark_blue);
    flex-shrink: 0; /* Prevent shrinking when using flex*/
    /* text-align: center; */
}
.section {
    background-color: var(--light_purple);
    border-top: solid;
    border-color: var(--dark_blue);
    border-width: 3px;
    /* padding: 0 6px 0 6px; */
}
.subsection {
    line-height: 1.25em;
}
#content {
    order: 2;
    flex-grow: 1;
    flex-basis: 70%;
    background-color: var(--dark_purple);
    /* height: 4000px; */

    border: solid;
    border-color: var(--dark_blue);
    border-width: 6px;
    border-radius: 25px;
    background-clip: border-box;
    box-shadow: 0 10px 15px 5px rgba(114, 75, 97, 0.5);
    overflow: hidden;

}
.welcome img {
    /* Float is text wrapping*/
    max-height: 10em;
    height: auto;
    box-shadow: 0 10px 15px 5px rgba(85, 75, 114, 0.5);
    /* float: left; */
    /* margin-right: 1em; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* clear: left; */

    /* TODO: Implement flexbox for text and images 2 column */
}
p {
    /* overflow-wrap: break-word; */
    /* min-height:em; */
}
#updates {
    order: 3;
    flex-grow: 0;
    flex-basis: 15%;
    background-color: var(--dark_purple);
    /* height: 40px; */

    border: solid;
    border-color: var(--dark_blue);
    border-width: 6px;
    border-radius: 25px;
    background-clip: border-box;
    box-shadow: 0 10px 15px 5px rgba(114, 75, 97, 0.5);
    overflow: hidden;

}
footer {
    color: var(--dark_maroon);
    font-weight: bold;
    margin-top: 10px;
    height: 100px
    /* background-color: var(--light_purple);
    border: solid;
    border-color: var(--dark_blue);
    border-width: 6px;
    border-radius: 25px;
    background-clip: border-box;
    overflow: hidden;
    min-height: 25px;
    box-shadow: 0 10px 15px 5px rgba(114, 75, 97, 0.5);
    position: relative;
    z-index: 10; */
    /* Kinda don't like this method */
}
.welcome {
    padding: 10px;
    text-align: left;
    line-height: 1.5em;

}
figure img {
    width: 5em;
    
}
code {
    background-color: var(--light_purple);
    /* border: 2px solid var(--dark_blue); */
    border-radius: 10px;
    padding: 2px 6px;
    /* font-size: 1em; */
}
@media screen and (max-width: 56em) {
    #grid {
        /* background-color: maroon; */
        flex-direction: column;
        align-items: stretch;
    }
    #content {
        order: 2;
        /* flex-grow: 2; */
        /* background-color: orange; */
    }
    .sticky {
        max-height: 100%;
        top: 0;
        position: relative;
        
    }
    .section {
        line-height: 1.25em;
    }
    .subsection {
        display: none;
        line-height: 1.5em;
    }
}