<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <header>
    {{ partial "header.html" . }}
  </header>
  <main id="grid">
    {{ partial "nav.html" . }}
    <section id="content">
      <div class="section-title">
        🖹 Content
      </div>
      <div class="welcome">
        {{ block "main" . }}{{ end }}
      </div>
    </section>
    {{ partial "updates.html" . }}
  </main>
  <footer>
    {{ partial "footer.html" . }}
  </footer>
</body>
</html>
